{% extends 'base.html' %}

{% block title %}BEDE-Settings{% endblock %}

{% block content %}
<div class="settings-container">
    <div class="settings-header">
        <h2>Settings</h2>
    </div>

    <!-- Theme Toggle Section -->
    <div class="toggle-btn-container">
        <button id="theme-toggle" class="toggle-btn">Switch Theme</button>
    </div>

    <!-- Example of other settings -->
    <div class="settings-section">
        <h4>General Settings</h4>
        <p>Modify your general application preferences here.(!Work in progress!)</p>
    </div>
</div>
{% endblock %}
